# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Boyum Challenge.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - ViaUC\Semester 4\internship\Boyum Challenge\.idea\.idea.Boyum Challenge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
